.week-picker-sec {
  border-radius: 25px;
  margin: 8px;
  margin-bottom: 30px;
  padding: 30px 25px 30px 25px;
  width: 100%;
  height: 600px;
  position: relative;

  box-shadow: 0px 1px 2px #c6c6c6;
}

.week-picker-sec p {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.week-picker-sec .SelectedWeek {
  width: fit-content;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 40px;
}

.week-picker-sec .week-display {
  position: absolute;
  bottom: 50px;
  left: 18%;
  font-size: 20px;
}

/* .week-picker-sec .week-display .week {
  width: fit-content;
  margin: 0 auto;
} */
