.windy-item-sec {
  border-radius: 25px;
  margin: 8px;
  margin-bottom: 30px;
  padding: 30px 25px 30px 25px;
  width: 100%;
  height: 200px;
  position: relative;
  box-shadow: 0px 1px 2px #c6c6c6;
}

.windy-item-sec p {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 35px;
  font-weight: 300;
}
