/* .home,
.reports,
.products { */
/* display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem; */
/* } */

:root {
  --blue: rgb(21, 48, 75);
  --white: #fafafa;
  --lightblue: rgba(35, 75, 117, 0.637);
}

body {
  font-family: "Ubuntu", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
  /* background-color: var(--background-color); */
}

body.light {
  --background: var(--white);
  --background-color: var(--white);
  --text-color: var(--blue);
  --font-weight: 400;
  /* --image: url("../day.jpg"); */
}

body.dark {
  --background: var(--lightblue);
  --background-color: var(--blue);
  --text-color: var(--white);
  --font-weight: 500;
  /* --image: url("../night.jpg"); */
}

/* .about-sec.light {
  --background: var(--white);
}
.about-sec.dark {
  --background: var(--lightblue);
}

.about-sec {
  background: var(--background);
} */

.comparation-graph-sec.light {
  --background-color: var(--white);
}
.comparation-graph-sec.dark {
  --background-color: var(--lightblue);
}

.comparation-graph-sec {
  background: var(--background);
}

.time-series-sec.light {
  --background-color: var(--white);
}
.time-series-sec.dark {
  --background-color: var(--lightblue);
}

.time-series-sec {
  background: var(--background);
}

.date-time-sec .light {
  --background-color: var(--white);
}
.date-time-sec .dark {
  --background-color: var(--lightblue);
}

.date-time-sec {
  background: var(--background);
}

/* .week-picker-sec .light {
  --background-color: var(--white);
}
.week-picker-sec .dark {
  --background-color: var(--lightblue);
}

.week-picker-sec {
  background: var(--background);
} */
